.ass-1{
    text-transform: capitalize;
    font-size: 20pt;
    text-shadow: 1px 1px 0 red , 2px 2px 0 blue, 3px 3px 0 purple;
}
.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}
.one,
.two,
.three{
    text-align: center;
}
.ass-3-1,
.ass-3-2,
.ass-3-3 {
    width: 400px;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}
.ass-3-3{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
a {
    background-color: rgb(28, 160, 142);
    padding: 10px 20px;
    margin: 50%;
    text-decoration: none;
    color: white;
    border-bottom: 7px solid rgb(5, 89, 92);

    
}