body{
    font-family: Arial, Helvetica, sans-serif;
}
.ass-1 div{
    width: 300px;
    height: 60px;
    margin: 20px  auto;
    background-color: #eee;
    text-align: center;
    padding: 0px;
    line-height: 2;
    font-size: 20pt;
}
.ass-1 .div-2{
    background-color: red;
}
/* assigne-2 */
.ass-2 div{
    margin: 20px auto;
    background-color: #eee;
    text-align: center;
    font-size: 20pt;
    padding: 20px;
    width: 500px;
    position: relative;
}

.ass-2 div::first-letter{
   visibility: hidden;
}
.ass-2 div::before{
    
    content: "1";
    position: absolute;
    left: -15px;
    background-color: red;
    color: white;
    padding: 10px;
    top: 10px;
}
/* assigne-3 */
.ass-3 p{
    background-color: #eee;
    width: 400px;
    padding: 20px;
    position: relative;
    border-left: 5px solid  rgb(218, 27, 160);
}

.ass-3 p::before{
    content: attr(data-person);
    position: absolute;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    width: 70px;
    text-align: center;
    left: -130px;
    top: 4px;
}
.ass-3 p::after{
    content: "";
    position: absolute;
    left: -24px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(218, 27, 160) transparent transparent;
}

.ass-3{
    margin-left: 150px;
}
/* assigne-4 */
.ass-4 p{
    background-color: #eee;
    width: 400px;
    /* height: 20px; */
    padding: 20px;
    position: relative;
    counter-increment: counte;
    border-right: 5px solid  rgb(214, 29, 5);
}
.ass-4{
    margin: 20px 150px;
    
}
.ass-4 p::before{
    content: counter(counte);
    background-color: rgb(214, 29, 5);
    padding: 20px;
    position: absolute;
    position: absolute;
    left: -48px;
    top: 0px;
}