body{
    position: relative;
    font-family: Arial, Helvetica, sans-
}
.green,
.blue,
.black,
.red {
    width: 100px;
    height: 100px;
    position: absolute;
}
.green{
    background-color: green;
    z-index: 9;
    top: 30px;
    left: 30px;
}
.red{
    background-color: red;
    z-index: 10;
    top: 40px;
    left: 40px;
}
.blue{
    background-color: blue;
    z-index: 8;
    top: 20px;
    left: 20px;
}
.black{
    background-color: black;
    z-index: 7;
    top: 30px;
    left: 20px;
}
/* assignment 2 */
.ass-2{
    position: relative;
    width: 400px;
    background-color: #eee;
    border: 2px solid;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    line-height: 1.7;
    border-color: red blue;
}
span{
    background-color: blue;
    color: white;
    position: absolute;
    width: 35px;
    height: 25px;
    text-align: center;
    border: 2px solid;
}
.top-left{
     top:-15px ;
     left: -21px ;
}

.bottom-left{
    top: 135px;
    left: -21px ;
}

.top-right{
    top:-15px ;
    left: 422px;
}

.bottom-right{
    top: 135px;
    left: 422px;
}

.top-left,
.bottom-left{
    border-color: blue red blue blue;
}

.top-right,
.bottom-right{
    border-color: blue blue blue red;
}